#contenedorTitulo{
    text-align: center;
    color: darkcyan;
}

.parrafoSecundario{
    font-size: 22px;
    color: chocolate;
}

.notaImportante{
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
}

h1,h2,h3{
    color: #00cc66
}

h1{
   font-size: 2.5em; 
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}